<section class="border-white/20  border-b ">
  <div class="mx-auto border-white/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-6xl text-xl">
        WebDesign Impecabil și Strategii PPC de Succes:
        Serviciile Noastre pentru O Afacere Online de Exceptie!
        Captivați utilizatorii și lăsați o impresie de neuitat!
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-3xl">
        Suntem o companie specializată în dezvoltarea de site-uri.<br> 
        Prin intermediul mai multor framework-uri, creăm site-uri personalizate și optimizate care împărtășesc în mod eficient povestea start-up-urilor,
         se conectează cu audiențele și oferă experiențe memorabile.<br> 
         Indiferent dacă alegeti să lucrăm cu WordPress sau alte tehnologii,
          suntem aici pentru a vă ajuta să vă atingeți obiectivele cu o prezență online remarcabilă.
    </div>
  </div>
</section>
