<section class="border-white/20  border-b ">
  <div class="mx-auto border-white/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-6xl text-xl">
        WebDesign Impecabil si Strategii PPC de Succes:
        Serviciile Noastre pentru O Afacere Online de Exceptie!
        Captivati utilizatorii si lasati o impresie de neuitat!
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-3xl">
        Suntem o companie specializata în dezvoltarea de site-uri.<br> 
        Prin intermediul mai multor framework-uri, cream site-uri personalizate si optimizate care impartasesc in mod eficient povestea start-up-urilor,
         se conecteaza cu audientele si ofera experiente memorabile.<br> 
         Indiferent daca alegeti sa lucram cu WordPress sau alte tehnologii,
          suntem aici pentru a va ajuta sa va atingeti obiectivele cu o prezenta online remarcabila.
    </div>
  </div>
</section>
