---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/landing/Hero.astro";
import Work from "@/components/landing/Work.astro";
import Intro from "@/components/landing/Intro.astro";
import Services from "@/components/landing/Services.astro";
import Cta from "@/components/landing/Cta.astro";
import Form from "@/components/global/Form.astro";
import Testimonials from "@/components/landing/Testimonials.astro";
---

<BaseLayout pageTitle="RNZ">
  <div class="snap-y snap-align h-screen w-screen mx:auto overflow-scroll">
    <div class="snap-start">
      <Hero />
    </div>

    <div class="snap-start">
      <Work />
    </div>

    <div class="snap-start">
      <Intro />
    </div>

    <div class="snap-start">
      <Services />
    </div>
  </div>
  <Cta />
  <Form />
  <Testimonials />
</BaseLayout>
